# Environnements virtuels
st_ternium/
ternium_webapp/
.venv/
venv/
.env/

# Fichiers temporaires Python
*.pyc
*.pyo
__pycache__/

# Configuration des éditeurs
.vscode/
.idea/

# Divers
*.log
.DS_Store
